<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Questionário Social
  </h1>
  
  <div>
    <form #cadastro="ngForm" (submit)="salvar()">

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
      </div>

      <div class="form-group">

          <select name="sexo" [(ngModel)]="sexoSelecionado">
              <option value="" disabled>Selecione seu sexo</option>
              <option *ngFor="let sexo of sexo" [ngValue]="sexoSelecionado">
                {{ sexo }}
              </option>
            </select> 
          
      </div>

      <div class="form-group">
        <label for="nome">Idade</label>
        <input type="number" id="idade" name="idade" [(ngModel)]="idade" required>
      </div>

      <div class="form-group">

          <select name="cidade" [(ngModel)]="cidadeSelecionada">
              <option value="" disabled>Selecione seu sexo</option>
              <option *ngFor="let cidade of cidade" [ngValue]="cidadeSelecionada">
                {{ cidade }}
              </option>
            </select> 
      </div>
      <div>
          <button type="submit">Salvar</button>
          <button type="reset" formnovalidate>Limpar</button>
      </div>
    </form>
      <div>
          Pessoa mais velha: {{pessoa_mais_velha()}}
      </div>
      
  </div>
</div>

